<!-- basic guild data -->
<div class="panel panel-danger" id="guildData" style="display: none;">
    <div class="panel-heading">
        <h4 id="guildName"></h4>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-2">
                <img id="guildImage" class="guildThumbnail" src="" alt="guild image">
            </div>
            <div class="col-xs-10 text-left">
                <p>Level <span id="guildLevel"></span>&nbsp;<span id="guildAchieve"></span></p>
            </div>
        </div>
    </div>
</div>
