<!-- basic character data -->
<link rel="stylesheet" href="../../css/partials/basicCharData.css">
<div class="panel" id="characterData" style="display: none;">
    <div class="panel-heading">
        <h4 id="charName"></h4>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-2">
                <img id="charImage" src="" alt="character image">
            </div>
            <div class="col-xs-10 text-left">
                <p>Level <span id="charLevel"></span>&nbsp;<span id="charRace"></span>&nbsp;<span id="charClass"></span></p>
            </div>
        </div>
    </div>
</div>
