<!-- mythic plus data -->
<link rel="stylesheet" href="../../css/partials/charMythicPlusData.css">
<div class="panel panel-danger" id="characterDungeonData" style="display: none;">
    <div class="panel-heading">
        <h4>Mythic+ Data</h4>
    </div>
    <div class="panel-body">
        <div class="container">
            <div class="row">
                <p>Dungeons Completed In Time:</p>
                <ul class="list-no-dot">
                    <li>+2: <span id="plusTwos"></span></li>
                    <li>+5: <span id="plusFives"></span></li>
                    <li>+10: <span id="plusTens"></span></li>
                    <li>+15: <span id="plusFifteens"></span></li>
                    <li>TOTAL: <span id="totalPlus"></span></li>
                </ul>
            </div>
        </div>
    </div>
</div>
