<!-- guild mythic plus data -->
<div class="panel panel-danger" id="characterDungeonData" style="display: none;">
    <div class="panel-heading">
        <h4>Mythic+ Data</h4>
    </div>
    <div class="panel-body">
        <div class="container">
            <div class="row">
                <p>Dungeons Completed In Time:</p>
                <ul class="list-no-dot">
                    
                </ul>
            </div>
        </div>
    </div>
</div>
