<!-- guild mythic plus data -->
<div class="panel panel-danger" id="selectedCharacterMythicData" style="display: none;">
    <div class="panel-heading">
        <h4><span id="selectedCharName"></h4>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-2">
                <img id="selectedCharImage" src="" alt="character image">
            </div>
            <div class="col-xs-10 text-left">
                <p>Level <span id="selectedCharLevel"></span>&nbsp;<span id="selectedCharRace"></span>&nbsp;<span id="selectedCharClass"></span></p><br>
                <h3>Last Week Ran: <span id="selectedCharMythicRan"></span></h3>
            </div>
        </div>
    </div>
</div>
