<meta charset="UTF-8">
<title>WoWStats</title>
<link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="/node_modules/jquery-ui-dist/jquery-ui.min.css">
<link rel="stylesheet" href="/lib/metisMenu.min.css">
<link rel="stylesheet" href="/lib/sb-admin-2.min.css">
<link rel="stylesheet" href="/node_modules/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/global.css">
