<html>

<head>
    <% include ../../views/partials/headTags %>
    <link rel="stylesheet" href="/css/partials/guildMythicPlus.css">
</head>

<body>
    <header>
        <% include ../../views/partials/navigation %>
    </header>
    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header">Guild Mythic Plus</h3>
                </div>
            </div>
            <form action="/guildMembers" method="post">
                <div class="row">
                    <div class="col-xs-6">
                        <input type="text" placeholder="Guild Name" value="Transcended" name="guildName" class="form-control" required>
                    </div>
                    <div class="col-xs-6">
                        <input type="text" placeholder="Realm Name" name="realm" value="tichondrius" id="realms" class="form-control" required>
                    </div>
                </div>
                <br>
                <button type="submit" class="btn btn-primary" style="width: 100%;">Input</button>
            </form>
            <div class="row">
                <div class="col-xs-6">
                    <% include ../../views/partials/basicGuildData %>
                </div>
                <div class="col-xs-6">
                    <% include ../../views/partials/guildMythicData %>
                </div>
            </div>
        </div>
    </div>
    <% include ../../views/partials/footerTags %>
    <script src="/js/pages/guildmythicplusInitialize.js"></script>
</body>

</html>
