<html>

<head>
    <% include ../../views/partials/headTags %>
</head>

<body>
    <header>
        <% include ../../views/partials/navigation %>
    </header>
    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header">Welcome to WoWStats</h3>
                </div>
            </div>
            <% include ../../views/partials/recentlyChecked %>
            </div>
    </div>
    <% include ../../views/partials/footerTags %>
    <script src="/js/pages/homeInitialize.js"></script>
</body>

</html>
