<html>

<head>
    <% include ../../views/partials/headTags %>
</head>

<body>
    <header>
        <% include ../../views/partials/navigation %>
    </header>
    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header">Mythic Plus</h3>
                </div>
            </div>
            <form action="/callApi" method="post">
                <div class="row">
                    <div class="col-xs-6">
                        <input type="text" placeholder="Character Name" value="vulcanite" name="character" class="form-control" required>
                    </div>
                    <div class="col-xs-6">
                        <input type="text" placeholder="Realm Name" name="realm" value="tichondrius" id="realms" class="form-control" required>
                    </div>
                </div>
                <br>
                <button type="submit" class="btn btn-primary" style="width: 100%;">Input</button>
            </form>
            <br>
            <br>
            <div class="row">
                <div class="col-xs-6">
                    <% include ../../views/partials/basicCharData %>
                </div>
                <div class="col-xs-6">
                    <% include ../../views/partials/charMythicPlusData %>
                </div>
            </div>
        </div>
    </div>
    <% include ../../views/partials/footerTags %>
    <script src="/js/pages/mythicplusInitialize.js"></script>
</body>

</html>
